API_BASE_URL=https://api.contractorsischool.com/api/v2
CIS_API_KEY=
WEB_BASE_URL=https://www.contractorsischool.com
IAPPLICATION_DEMO_SIGNUP_URL=https://apps.demo.contractorsischool.com/signup
IAPPLICATION_LAUNCH_URL=https://www.contractorsischool.com/iapplication/launch
SHOPIFY_DOMAIN=https://www.lexanasignature.com
